/* default.css (añádelo o actualízalo) */
.katex { font-size: 1em !important; }

.typst-inline {
  display: inline-block;
  vertical-align: bottom;
  width: auto;
  max-width: 240px;
}

.typst-display {
  display: block;
  margin: 0.6em auto;
  width: auto;
  max-width: 720px;
  box-sizing: border-box;
  height: auto;
  align-self: center;
  text-align: center;      /* <-- añade esto */
  overflow: scroll;
}

.typst-display svg,
.typst-inline svg {
  display: inline-block;
  margin: auto;
}

.typst-render-error {
  color: #FF0000;
}

.typst-math-inline{
	display: inline-block;
}

.typst-math-display{
	display: block;
	margin: auto;
}

